{
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "semi": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "proseWrap": false
      }
    }
  ]
}
